In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data
data = pd.read_csv('./data/compas-scores.csv')
data.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,vr_offense_date,vr_charge_desc,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,type_of_assessment,decile_score.1,score_text,screening_date
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,NaN,NaN,Risk of Violence,1,Low,2013-08-14,Risk of Recidivism,1,Low,2013-08-14
1,2,michael ryan,michael,ryan,2014-12-31,Male,1985-02-06,31,25 - 45,Caucasian,...,NaN,NaN,Risk of Violence,2,Low,2014-12-31,Risk of Recidivism,5,Medium,2014-12-31
2,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,2013-07-05,Felony Battery (Dom Strang),Risk of Violence,1,Low,2013-01-27,Risk of Recidivism,3,Low,2013-01-27
3,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,NaN,NaN,Risk of Violence,3,Low,2013-04-14,Risk of Recidivism,4,Low,2013-04-14
4,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,NaN,NaN,Risk of Violence,6,Medium,2013-01-13,Risk of Recidivism,8,High,2013-01-13

In [10]:
# Print all column names
print("Columns in the dataset:")
for column in data.columns:
    print(column)

Columns in the dataset:
id
name
first
last
compas_screening_date
sex
dob
age
age_cat
race
juv_fel_count
decile_score
juv_misd_count
juv_other_count
priors_count
days_b_screening_arrest
c_jail_in
c_jail_out
c_case_number
c_offense_date
c_arrest_date
c_days_from_compas
c_charge_degree
c_charge_desc
is_recid
num_r_cases
r_case_number
r_charge_degree
r_days_from_arrest
r_offense_date
r_charge_desc
r_jail_in
r_jail_out
is_violent_recid
num_vr_cases
vr_case_number
vr_charge_degree
vr_offense_date
vr_charge_desc
v_type_of_assessment
v_decile_score
v_score_text
v_screening_date
type_of_assessment
decile_score.1
score_text
screening_date

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11757 entries, 0 to 11756
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       11757 non-null  int64
 1   name                     11757 non-null  object
 2   first                    11757 non-null  object
 3   last                     11757 non-null  object
 4   compas_screening_date    11757 non-null  object
 5   sex                      11757 non-null  object
 6   dob                      11757 non-null  object
 7   age                      11757 non-null  int64
 8   age_cat                  11757 non-null  object
 9   race                     11757 non-null  object
 10  juv_fel_count            11757 non-null  int64
 11  decile_score             11757 non-null  int64
 12  juv_misd_count           11757 non-null  int64
 13  juv_other_count          11757 non-null  int64
 14  priors_count             11757 non-null  int64
 15  days_b_screening_arrest  10577 non-null  float64
 16  c_jail_in                10577 non-null  object
 17  c_jail_out               10577 non-null  object
 18  c_case_number            11015 non-null  object
 19  c_offense_date           9157 non-null   object
 20  c_arrest_date            1858 non-null   object
 21  c_days_from_compas       11015 non-null  float64
 22  c_charge_degree          11757 non-null  object
 23  c_charge_desc            11008 non-null  object
 24  is_recid                 11757 non-null  int64
 25  num_r_cases              0 non-null      float64
 26  r_case_number            3703 non-null   object
 27  r_charge_degree          11757 non-null  object
 28  r_days_from_arrest       2460 non-null   float64
 29  r_offense_date           3703 non-null   object
 30  r_charge_desc            3643 non-null   object
 31  r_jail_in                2460 non-null   object
 32  r_jail_out               2460 non-null   object
 33  is_violent_recid         11757 non-null  int64
 34  num_vr_cases             0 non-null      float64
 35  vr_case_number           882 non-null    object
 36  vr_charge_degree         882 non-null    object
 37  vr_offense_date          882 non-null    object
 38  vr_charge_desc           882 non-null    object
 39  v_type_of_assessment     11757 non-null  object
 40  v_decile_score           11757 non-null  int64
 41  v_score_text             11752 non-null  object
 42  v_screening_date         11757 non-null  object
 43  type_of_assessment       11757 non-null  object
 44  decile_score.1           11757 non-null  int64
 45  score_text               11742 non-null  object
 46  screening_date           11757 non-null  object
dtypes: float64(5), int64(11), object(31)
memory usage: 4.2+ MB

In [8]:
# Get summary statistics for the age_cat column
age_cat_summary = data['age_cat'].describe()
age_cat_summary

count       11757
unique          3
top       25 - 45
freq         6649
Name: age_cat, dtype: object

In [9]:
# Get summary statistics for the age_cat column
race_summary = data['race'].describe()
race_summary

count                11757
unique                   6
top       African-American
freq                  5813
Name: race, dtype: object

In [ ]:
#is_recid is the true or false if the person was recidivated
data = data.drop('is_recid', axis=1)